# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Added by cargo
/target
.DS_Store
coverage.txt
/dist

# nix stuff
result
.nixos-test-history

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
*.syso
**/.claude/settings.local.json
*.txt

# bins
paretosecurity
*.lock
.claude/agents/*
.claude/settings.json
