name: Release

on:
  push:
    # run only against tags
    tags:
      - "*"

permissions:
  contents: write
  id-token: write
  attestations: write

jobs:
  windows-release:
    runs-on: windows-latest
    name: Windows Release
    needs: [ build ]
    steps:
      - name: Download release
        uses: actions/download-artifact@v5
        with:
          name: release
      - name: Run Windows schema
        run: agent_windows_amd64_v1/paretosecurity schema > windows.json
      - name: Upload Windows schema
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b
        with:
          files: windows.json
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  windows-sign-x64:
    runs-on: windows-pareto
    name: Windows Sign (x64)
    needs: [ build ]
    steps:
      - name: Download release
        uses: actions/download-artifact@v5
        with:
          name: release
      - name: Rename Windows installer (x64)
        run: |
          mv installer_windows_amd64_v1/paretosecurity-installer.exe paretosecurity-installer-amd64.exe
          mv tray_windows_amd64_v1/paretosecurity-tray.exe paretosecurity-tray.exe
          mv agent_windows_amd64_v1/paretosecurity.exe paretosecurity.exe
      - name: Sign Windows installer (x64)
        run: |
          & "C:\Program Files (x86)\Windows Kits\10\bin\10.0.22621.0\x64\signtool.exe" sign /sha1 "2198c6a91da7f1b54cef66da7754c78bf78031a6" /tr http://time.certum.pl /td sha256 /fd sha256 /v paretosecurity-installer-amd64.exe
          & "C:\Program Files (x86)\Windows Kits\10\bin\10.0.22621.0\x64\signtool.exe" sign /sha1 "2198c6a91da7f1b54cef66da7754c78bf78031a6" /tr http://time.certum.pl /td sha256 /fd sha256 /v paretosecurity-tray.exe
          & "C:\Program Files (x86)\Windows Kits\10\bin\10.0.22621.0\x64\signtool.exe" sign /sha1 "2198c6a91da7f1b54cef66da7754c78bf78031a6" /tr http://time.certum.pl /td sha256 /fd sha256 /v paretosecurity.exe
      - name: Create ZIP package (x64)
        run: Compress-Archive -Path paretosecurity-tray.exe, paretosecurity.exe -DestinationPath paretosecurity_windows_amd64.zip
      - name: Upload Windows Installer (x64)
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b
        with:
          files: paretosecurity-installer-amd64.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload Windows ZIP Package (x64)
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b
        with:
          files: paretosecurity_windows_amd64.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  linux-release:
    runs-on: ubuntu-latest
    name: Linux Release
    needs: [ build ]
    steps:
      - name: Download release
        uses: actions/download-artifact@v5
        with:
          name: release
      
      - name: Set executable permissions for Linux binary
        run: chmod +x agent_linux_amd64_v1/paretosecurity

      - name: Run Linux schema
        run: agent_linux_amd64_v1/paretosecurity schema > linux.json

      - name: Upload Linux schema
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b
        with:
          files: linux.json
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build:
    runs-on: ubuntu-latest
    name: Build Release
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: stable
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          # either 'goreleaser' (default) or 'goreleaser-pro'
          distribution: goreleaser
          # 'latest', 'nightly', or a semver
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        name: Upload release
        with:
          name: release
          path: dist

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6.3.0
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
              
      - name: Install repo tools
        run: sudo apt install -y reprepro createrepo-c rpm

      - name: Create Debian repository
        run: reprepro -b apt includedeb stable dist/*.deb

      - name: Create GPG keyring
        run: |
          mkdir -p ~/.gnupg
          echo "${{ secrets.GPG_PASSPHRASE }}" > ~/.gnupg/passphrase.txt
          chmod 600 ~/.gnupg/passphrase.txt

      - name: Sign RPM packages
        run: |
          gpg --list-secret-keys --keyid-format LONG
          for file in dist/*.rpm; do \
            echo "Signing $file..." && \
            rpm --define "_gpg_name A4D4A453F8BCD8044188B00D196FECB38F8C215A" \
                --define "_gpg_passphrase_file ~/.gnupg/passphrase.txt" \
                --addsign $file
          done

      - name: Create RPM repository
        run: mv dist/*.rpm apt/rpm && createrepo_c apt/rpm

      - name: Create Arch repository
        continue-on-error: true
        run: |
          sudo add-apt-repository --yes ppa:michel-slm/kernel-utils
          sudo apt-get -qq --yes install pacman-package-manager libarchive-tools
          mkdir -p apt/arch/
          for file in dist/*.pkg.tar.zst ; do \
            arch=$(basename $file .archlinux.pkg.tar.zst | sed 's/.*_//') ; \
            if [ "$arch" = "arm64" ]; then arch="aarch64"; fi ; \
            if [ "$arch" = "aarch64" ]; then mv $file ${file/arm64/aarch64} ; fi ; \
            echo "Processing arch $arch..." && \
            mkdir -p apt/aur/stable/$arch && \
            cp dist/*_$arch.archlinux.pkg.tar.zst apt/aur/stable/$arch && \
            repo-add \
              --verify \
              --sign \
              --new \
              --remove \
              --prevent-downgrade \
              apt/aur/stable/$arch/paretosecurity.db.tar.gz apt/aur/stable/$arch/*_$arch.archlinux.pkg.tar.zst && \
            gpg --detach-sign --no-armor --batch --yes apt/aur/stable/$arch/*_$arch.archlinux.pkg.tar.zst ; \
          done
          
      - uses: ryand56/r2-upload-action@b801a390acbdeb034c5e684ff5e1361c06639e7c # latest
        with:
          r2-account-id: ${{ secrets.R2_ACCOUNT_ID }}
          r2-access-key-id: ${{ secrets.R2_ACCESS_KEY_ID }}
          r2-secret-access-key: ${{ secrets.R2_SECRET_ACCESS_KEY }}
          r2-bucket: pareto-apt
          source-dir: apt
          destination-dir: ./